@{
    Layout = "~/Views/Shared/_OnlineStoreLayout.cshtml";
}

<script src="~/js/OnlineStore/index.js" asp-append-version="true"></script>

<div id="divMainItemGrid">
    @{ await Html.RenderPartialAsync("MainMenuItemGrid");}
</div>