<div class="cart-summary">
    <div class="cart-icon"></div>
    <div class="cart-label-qty">
        <label class="lblQuantity"></label>
    </div>
    <div class="separator">|</div>
    <div class="cart-label-sub-total">
        <label class="lblSubTotal"></label>
    </div>
</div>