<div style="width: 100%;">
    <div style="        width: 70%;
        min-width: 260px;
        margin: auto;
        box-sizing: border-box;
        padding: 20px;
        background-color: #ffffff;">
        <label style="font-size: 0.95em;
               color: #747474;
               font-family: Verdana;">
            Warm Regards<br />
            @Configuration["CompanyInformation:CompanyName"] Support Team.
        </label>
    </div>
</div>