<div style="width: 100%; padding-top: 100px;">
    <div style="width: 70%;
        min-width: 260px;
        margin: auto;
        box-sizing: border-box;
        padding: 20px;
        background-color: #ffffff;">
        <div style="width: 100%;
             margin-top: 10px;
             text-align: center;">
            <label style="font-size: 2em; font-weight: bold; color: #1C0882; font-family: Verdana;">
                @ViewBag.Title
            </label>
        </div>
    </div>
</div>