<div class="popup-form-small">
    <input type="button" value="X" class="close-button-small" onclick="hidePopupForm()" />
    <fieldset>
        <h1>WELCOME</h1>
    </fieldset>
    <nav>
        <table id="navWelcome" class="nav-table">
            <tr>
                <td>
                    <input type="button" class="button" value="SIGN IN" onclick="signIn()" />
                </td>
            </tr>
            <tr>
                <td class="nav-separator"></td>
            </tr>
            <tr>
                <td class="not-a-member-label">
                    <label class="field-label">Not a member?</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" class="button-9E0000" value="SIGN UP" onclick="signUp()" />
                </td>
            </tr>
        </table>
        <input id="progressBarWelcome" type="button" value="WORKING..." class="button-progress-bar" disabled="disabled" />
    </nav>
</div>
